---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx-deployment
spec:
  ports:
  # port=available to other containers
  - port: 8080
    name: http
    # targetPort=exposed from inside container
    targetPort: 80
    protocol: TCP
  selector:
    app: nginx-deployment
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-dep-cm
data:
  config.indexhtml: |
    <h1>This is index.html from a deployment</h1>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-deployment
      # caused 'immuatable' error
      #version: v1
  template:
    metadata:
      labels:
        app: nginx-deployment
        version: v1
    spec:
      volumes:
      - name: nginx-dep-homedir
        projected:
          sources:
          - configMap:
              name: nginx-dep-cm
              items:
                 - key: config.indexhtml
                   path: index.html
      containers:
      - name: nginx
        image: nginx:latest
        volumeMounts:
        - name: nginx-dep-homedir
          mountPath: "/usr/share/nginx/html"
          readOnly: true
        ports:
        - containerPort: 80

