---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-ingressgateway-secondary
spec:
  selector:
    istio: "{{istio_ingressgateway_secondary_selector}}"
  servers:
  - port:
      number: 80
      name: http-secondary
      protocol: HTTP
    hosts: {{ cert_domains_secondary_ingress | to_json }}
  - port:
      name: https-secondary
      number: 443
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: tls-credential
    hosts: {{ cert_domains_secondary_ingress | to_json }}
