---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-ingressgateway
spec:
  selector:
    istio: "{{istio_ingressgateway_primary_selector}}"
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts: {{ cert_domains_primary_ingress | to_json }}
  - port:
      name: https
      number: 443
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: tls-credential
    hosts: {{ cert_domains_primary_ingress | to_json }}
