---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-ingressgateway
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts: "{{ [primary_domain] + san_domains }}"
  - port:
      name: https
      number: 443
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: tls-credential
    hosts: "{{ [primary_domain] + san_domains }}"
