---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: hello-v2-on-gateway-ingressgateway-secondary
spec:
  hosts: "{{ san_domains | first }}"
  gateways:
  - gateway-ingressgateway-secondary
  http:
  - match:
    - uri:
        exact: /hello
    route:
    - destination:
        host: helloworld2
        port:
          number: 5000

